<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Venue Created or Modified</h1>

<table>
  <tbody>
    <tr>
      <th>ID:</th>
    <td><%= @venue.id %></td>
    </tr>
    <tr>
      <th>Name:</th>
    <td><%= @venue.name %></td>
    </tr>
    <tr>
      <th>Previous:</th>
      <td><%= @venue.prev %></td>
    </tr>
    <tr>
      <th>Status:</th>
      <td><%= @venue.status %></td>
    </tr>
  </tbody>
</table>

<br/>
<a href="/venue/show">View All</a> -
<a href="/venue/update/<%= @venue.id %>">Modify</a>
